body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.6;
  color: #000000;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 160px 240px 90px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 30px;
}

.second-title {
  text-align: start;
}

.title-second-table {
  margin-top: 30px;
}

.content {
  font-weight: 400;
  font-size: 12px;
}

.content-span {
  font-weight: bold;
}

.table-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}

.first-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
}

.first-table td {
  border: 1px solid #000000;
  padding: 10px;
  vertical-align: top;
}

.first-table-image {
  width: 30%;
  text-align: center;
}

.first-table-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.first-table-list {
  margin: 0 0 0 15px;
  font-weight: 400;
  font-size: 12px;
}

.first-table-link {
  margin-top: 30px;
  margin-left: 70px;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
}

.second-content-image {
  float: left;
  margin: 0 5px 10px 0;
}

.second-content {
  font-weight: 400;
  font-size: 14px;
}

.second-content-text {
  margin-bottom: 50px;
}

.third-title-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.second-content-item:not(:last-child) {
  margin-bottom: 20px;
}
