body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.6;
  color: #000000;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 40px 160px 40px 90px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.second-title {
  text-align: start;
}

.content {
  font-weight: 400;
  font-size: 12px;
}

.content-span {
  font-weight: bold;
}

.table-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
}
